
<div class="body_container">

    <p>
        <strong>Número de publicaciones:</strong>
        <% if @publications_account.present? %>
            <% @publications_account.each do |account| %>
                <%= account.count %>
            <% end %>
        <% end %>
    </p>
  
    <% @publications.each do |publication| %>

            <div class="general_container">

                <% if publication.photo.class != NilClass && publication.photo != '' %>

                    <div class="image_description">
                    <%= link_to <img src="<%= publication.photo %>">, publication %>%
                    </div>

                    <div class="data_description">
                    <h5><%= link_to publication.title, publication %></h5>
                    <p><%= link_to publication.description, publication  %></p>  
                    <p><%= publication.updated_at.year %>-<%= publication.updated_at.month %>-<%= publication.updated_at.day %></p>
                    <p><%= link_to "Eliminar", publication, method: :delete  %></p> 
                    <p><%= link_to "Editar", edit_publication_path(publication) %></p>  
                    </div>

                <% else %>
                    <div class="data_information">
                    <h5><%= link_to publication.title, publication %></h5>
                    <p><%= link_to publication.description, publication  %></p>  
                    <p><%= publication.updated_at.year %>-<%= publication.updated_at.month %>-<%= publication.updated_at.day %></p>
                    <p><%= link_to "Eliminar", publication, method: :delete  %></p> 
                    <p><%= link_to "Editar", edit_publication_path(publication) %></p> 
                    </div>
                <% end %>

            </div>

    <% end %>

</div>

