<h2>Crear Publicación</h2>

<%= form_for(@publications) do |f| %>

  <div class="field">
    <%= f.label :Título %><br />
    <%= f.text_field :title, placeholder: "Título de la publicación" ,autofocus: true, autocomplete: "title" %>
  </div>

  <div class="field">
    <%= f.label :Descripción %><br />
    <%= f.text_field :description, placeholder: "Descripción de la publicación - ejemplo: 'La nueva obra de ...'" ,autofocus: true, autocomplete: "description" %>
  </div>

  <div class="field">
    <%= f.label :Información %><br />
    <%= f.text_area :information, placeholder: "Información completa y detallada de la publicación" ,autofocus: true, autocomplete: "information" %>
  </div>

  <div class="field">
    <%= f.label :Url_de_la_foto_o_imagen %><br />
    <%= f.text_field :photo, placeholder: "ejemplo - '/assets/noticia1/'" ,autofocus: true, autocomplete: "photo" %>
  </div>

  <div class="field">
    <%= f.submit "Publicar" %>
  </div>

<% end %>

