<div class="body_container">

    <div class="title">     
        <h5><%= @publication.title %></h5>
        <p><strong>Fecha publicación: </strong><%= @publication.updated_at.year %>-<%= @publication.updated_at.month %>-<%= @publication.updated_at.day %></p>
        <p>Visto: <%= @publication.visits_count %></p>
    </div>

    <div class="general_container">

        <% if @publication.photo.class != NilClass && @publication.photo != '' %>
            <img class="img_content" src="<%= @publication.photo %>">
        <% end %>

        <div class="data_information"> 
            <p><%= @publication.information %></p>  

           
            <% unless @publication.user.nil?%>
                <p>
                <strong>Publicado por:</strong>
                <%= @publication.user.name%> 
                </p>

                <p>
                <strong>Correo electrónico:</strong>
                <%= @publication.user.email%> 
                </p>
            <% end %>

        </div>
                
    </div>

    <div class="general_container">
        <h5>Comentarios</h5>

        <ul>
            <% @publication.state_publication.each do  |comment| %>
                <li>   
                    <strong><%= comment.user.name %>:</strong> 
                    <%= comment.comment %> 
                </li>
            <% end %>
        </ul>

        <% if user_signed_in? %>
            <%= render "state_publications/form" %>
        <% end %>
    </div>

</div>