<div class="body_container">

    <div class="title">     
        <h5><%= @project.title %></h5>
        <p><%= @project.updated_at.year %>-<%= @project.updated_at.month %>-<%= @project.updated_at.day %></p>
    </div>

    <div class="general_container">

        <% if @project.photo.class != NilClass && @project.photo != '' %>
            <!-- <div class="image_information"> -->
                <img class="img_content" src="<%= @project.photo %>">
            <!-- </div> -->
        <% end %>

        <div class="data_information"> 
            <p><%= @project.information %></p>  
        </div>

    </div>

</div>