<div class="body_container">

    <div class="title">     
        <h5><%= @projects.title %></h5>
        <p><%= @projects.updated_at.year %>-<%= @projects.updated_at.month %>-<%= @projects.updated_at.day %></p>
    </div>

    <div class="general_container">

        <% if @projects.photo.class != NilClass && @projects.photo != '' %>
            <!-- <div class="image_information"> -->
                <img class="img_content" src="<%= @projects.photo %>">
            <!-- </div> -->
        <% end %>

        <div class="data_information"> 
            <p><%= @projects.information %></p>  
        </div>

    </div>

</div>