<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @state_project.user %>
</p>

<p>
  <strong>Project:</strong>
  <%= @state_project.project %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @state_project.comment %>
</p>

<p>
  <strong>State:</strong>
  <%= @state_project.state %>
</p>

<%= link_to 'Edit', edit_state_project_path(@state_project) %> |
<%= link_to 'Back', state_projects_path %>
